
body{
    background-color:rgb(54, 54, 54);
    font-family: 'Montserrat', sans-serif;
}

.weather-container{    
    position: absolute;
    margin: 0 auto;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 325px;
    height: 550px;
    border: 1px solid white;
    border-radius: 10px;
    background: linear-gradient(rgb(247, 188, 61), #22C1C3 );
}

.weather-search{
    position: relative;
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 50px;
    margin: 30px auto;
    width:100%;
}

button{
    height: 25px;
    border: none;
    background-color: transparent;
 
}

#buscador-texto{
    padding: 0 10px;
    text-align: center;
    background-color: #FFFFFF;
    border-width: 2px;
    border-style: solid;
    border-color: #DAE3F3;
    border-radius: 9px;
    color: #272C34;
    width: 220px;
    cursor: text;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    height: 30px;
 }



 .weather-display{
    display: flex;
    flex-flow: column;

    position: relative;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;
    color:white;


 }

.temperature-area{
    display: flex;
    position: relative;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    margin: 0 auto;

}

.image-temp{
    width:50%;
}


.temperature-header{
    margin: 0 auto;
}

.temp-signal{
    display: flex;
}

h1 {
    font-size:100px;
}

.detalles-de-tiempo{
    height:50px;
    width: 100%;
    display: flex;
    padding: 0 4px;
    justify-content: space-around;
   
    
}

.box-tiempo-dets{
    height: 40px;
}

.humedad-area{
    display: flex;
    position: relative;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}

.speed-area{

    display: flex;
    position: relative;
    flex-direction:row;
    justify-content: center;
    align-items: center;

}


.clima-dets{
    font-size:20px;
    margin: 0 auto;
}



.subtitulo{
    font-size:10px;
    margin: 0 auto;
}


.toggle-met-temps{
    width: 100%;
    font-size:small;
    display:flex;
    position: relative;
    overflow-y: hidden;
    justify-content: flex-end;
    flex-direction: row;
    margin-top: 55px;
    margin-right: 20px;


}


.clickFToC {
    color: white;
    font-family: 'Montserrat', sans-serif;
  
}
